:root{
    --tan: #F5D5AE;
    --orange:#ef9a53;
    --light_orange: #eca870;
    --light:#c539b4;
    --dark:#852999;
    --taupe:#b38d97;
    --mauve:#957d95;
    --rose:#d5aca9;
    --charcoal : #424b54;
}

html{
    background-color:var(--tan);
    font-size:20pt;
    

}


a{
    cursor: pointer;
    text-decoration: none;
    color:black;

}



#bar{
    display:flex;
    gap:20px;
    justify-content: space-between;
    border-bottom:10px groove var(--mauve);
    align-items: center;
    padding:5px;
    height:55px;

    

}

#content{
    height:580px;
    display: block;
    margin: 0 auto;
    width: 99vw; 
    border:none;

}
#space{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 50px;
    margin-top:50px;
}
#intro{
    text-align:center;
    width:80vw;

}

#introbtn{
    background-color:var(--light_orange);
    border-radius:10px;
    font-size:20px;
    text-align: center;
    width:300px;
    cursor:pointer;

}
#introbtn:hover{
    background-color:var(--orange);
}
