.project-info{
    align-items:center;
    justify-content:center;
    padding:20px;
    height:800px;
    display:flex;
    border:3px solid black;
}

.button{
    display:flex;
    justify-content: space-between;
}



.info-space{
    background:var(--tan);
    border:5px groove var(--mauve);
    border-radius:10px;
    align-items:center;
    justify-content:center;


    


}

.info-header{
    display:flex;
    gap:20px;
    justify-content: space-between;
    align-items:center;
    padding:15px;
    font-weight: bold;
}
 
.info-description{
    text-align:center;
}
.close{
    border:none;
    width:60px;
    background:transparent;
    border-radius:10px;
    font-size:30pt;
    color:var(--mauve);
}
.close:hover{
    background:var(--rose);

}
.demo-space{
    display:flex;
    justify-content: center;
    align-items: center;

}
